<table style="WIDTH: 414px" cellspacing="0" cellpadding="0" border="0" class="ng-scope">
    <tbody> 
    <tr>
      <td width="300" style="FONT-SIZE: 10pt; FONT-FAMILY: Courier New, monospace;line-height:14pt;" valign="bottom">	
          <strong><span style="FONT-SIZE: 18pt;FONT-FAMILY: Courier New, monospace;COLOR: #c124ad;" class="ng-binding">MD ANIK AHMED</span></strong><br>
          <!-- ngIf: showField('title') --><span ng-if="showField('title')" style="FONT-SIZE: 14pt;FONT-FAMILY: Courier New, monospace;COLOR: #a314bd;" class="ng-binding ng-scope">web design &amp; development</span><!-- end ngIf: showField('title') -->	  
      </td>
      <td valign="bottom" align="right" width="160">	
          <!-- ngIf: showField('facebookURL') --><span ng-if="showField('facebookURL')" class="ng-scope"><a href="" target="_blank" rel="noopener"><img border="0" width="19" height="19" ng-src="https://raw.githubusercontent.com/anik217/icone/main/fb2.png" alt="facebook icon" style="border:0; height:19px; width:19px" src="https://raw.githubusercontent.com/anik217/icone/main/fb2.png"></a></span><!-- end ngIf: showField('facebookURL') -->
          <!-- ngIf: showField('twitterURL') -->
          <!-- ngIf: showField('youtubeURL') --><span ng-if="showField('youtubeURL')" class="ng-scope"><a href="" target="_blank" rel="noopener"><img border="0" width="19" height="19" ng-src="https://raw.githubusercontent.com/anik217/icone/main/call3.png" alt="youtube icon" style="border:0; height:19px; width:19px" src="https://raw.githubusercontent.com/anik217/icone/main/call3.png"></a></span><!-- end ngIf: showField('youtubeURL') -->
          <!-- ngIf: showField('linkedinURL') -->
          <!-- ngIf: showField('instagramURL') -->
          
          <span ng-if="showField('facebookURL')" class="ng-scope"><a href="" target="_blank" rel="noopener"><img border="0" width="19" height="19" ng-src="https://raw.githubusercontent.com/anik217/icone/main/email.png" alt="facebook icon" style="border:0; height:19px; width:19px" src="https://raw.githubusercontent.com/anik217/icone/main/email.png"></a></span>
          
          <!-- end ngIf: showField('instagramURL') -->
          <!-- ngIf: showField('pinterestURL') -->
      </td>	
      </tr>
      
    <!-- ngIf: showField('banner') --><tr ng-if="showField('banner')" class="ng-scope">
      <td colspan="2" valign="top" style="padding-bottom:20px; padding-top:20px;">	
          <!-- ngIf: showField('bannerURL') --><a ng-if="showField('bannerURL')" href="https://www.codetwo.com/email-signatures/" target="_blank" rel="noopener" class="ng-scope"><img border="0" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/banner.png" alt="Banner" width="414" style="max-width: 411px;height:auto;border:0;" src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/banner.png"></a><!-- end ngIf: showField('bannerURL') -->
          <!-- ngIf: !showField('bannerURL') -->
      </td>
      </tr><!-- end ngIf: showField('banner') -->
  
    <tr>
      <td style="FONT-SIZE: 9pt; FONT-FAMILY: Courier New, monospace;" valign="top" colspan="2">
          
          <table style="WIDTH: 414px" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                  <td style="padding-right:30px" valign="top">
                      <!-- ngIf: showField('logo') --><span ng-if="showField('logo')" class="ng-scope">
                          <!-- ngIf: showField('logo') --><a ng-if="showField('logo')" href="https://www.my-company.com/" target="_blank" rel="noopener" class="ng-scope"><img border="0" ng-src="https://raw.githubusercontent.com/anik217/icon/main/edc.jpg" alt="Logo" width="131" style="max-width: 86px;height:auto;border:0;" src="https://raw.githubusercontent.com/anik217/icon/main/edc.jpg"></a><!-- end ngIf: showField('logo') -->
                          <!-- ngIf: !showField('logoURL') -->
                      </span><!-- end ngIf: showField('logo') -->					
                  </td>
                  <td width="30" valign="top" style="FONT-SIZE: 9pt; FONT-FAMILY: Courier New, monospace; line-height:11pt">
                  
                      <!-- ngIf: showField('phone') -->
                      <!-- ngIf: showField('mobile') --><span ng-if="showField('mobile')" style="color:#38b693;" class="ng-scope"><strong style="color: #ff0000;display:table-cell;width:30px;">m:</strong><br></span><!-- end ngIf: showField('mobile') -->
                      <!-- ngIf: showField('email') --><span ng-if="showField('email')" style="color:#38b693;" class="ng-scope"><strong style="color: #ff000c;display:table-cell;width:30px;">e:</strong><br></span><!-- end ngIf: showField('email') -->
                      
                      <!-- ngIf: isAnyFieldEntered('company, address1, address2') --><span ng-if="isAnyFieldEntered('company, address1, address2')" style="color:#38b693;" class="ng-scope">
                          <strong style="color: #ff0000;display:table-cell;width:30px;">a: </strong>
                      </span><!-- end ngIf: isAnyFieldEntered('company, address1, address2') -->
                      
                  </td>
                  <td valign="top" style="FONT-SIZE: 9pt; FONT-FAMILY: Courier New, monospace; line-height:11pt">
                      
                      <!-- ngIf: showField('phone') -->
                      <!-- ngIf: showField('mobile') --><span ng-if="showField('mobile')" style="color: #b134b3;" class="ng-binding ng-scope">01701931217<br></span><!-- end ngIf: showField('mobile') -->
                                          <!-- ngIf: showField('email') --><span ng-if="showField('email')" style="color: #a338b6;" class="ng-binding ng-scope">skanikparvez503@gmail.com<br></span><!-- end ngIf: showField('email') -->
                      
                      <!-- ngIf: isAnyFieldEntered('company, address1, address2') --><span ng-if="isAnyFieldEntered('company, address1, address2')" style="color: #c03dc9;" class="ng-scope">
                                              <!-- ngIf: showField('company') --><span ng-if="showField('company')" class="ng-binding ng-scope">ICT CENTER<!-- ngIf: showField('address1') --><span ng-if="showField('address1')" class="ng-scope">, </span><!-- end ngIf: showField('address1') --></span><!-- end ngIf: showField('company') --><!-- ngIf: showField('address1') --><span ng-if="showField('address1')" class="ng-binding ng-scope">Singra, Natore<!-- ngIf: isAnyFieldEntered('address2') --><span ng-if="isAnyFieldEntered('address2')" class="ng-scope">, </span><!-- end ngIf: isAnyFieldEntered('address2') --></span><!-- end ngIf: showField('address1') --><!-- ngIf: showField('address2') --><span ng-if="showField('address2')" class="ng-binding ng-scope">Bangladesh</span><!-- end ngIf: showField('address2') -->			
                      </span><!-- end ngIf: isAnyFieldEntered('company, address1, address2') -->
  
                      <!-- ngIf: showField('website') --><span ng-if="showField('website')" class="ng-scope">
                          <br><a href="http://www.anik217.tk" target="_blank" rel="noopener" style=" text-decoration:none;"><strong style="color: #2cd6f1;font-family:Courier New, monospace;" class="ng-binding">www.anik217.tk</strong></a>		
                      </span><!-- end ngIf: showField('website') -->
          
                  </td>
              </tr>
          </tbody></table>
  
      </td></tr>
  
      </tbody></table>